html,
body {
    scrollbar-gutter: stable;
    scrollbar-color: rgba(129, 140, 248, 0.5) #f5f4ff;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
    background: #f5f4ff;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    background-color: rgba(129, 140, 248, 0.5);
    border: none;
}

html::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(129, 140, 248, 0.7);
}

/* Блокировка скролла при открытом модальном окне */
html.modal-open {
    overflow: hidden !important;
}
