.toggle-switch {
    position: relative;
    width: 60px;
    height: 30px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 30px;
    transition: 0.4s;
}

.toggle-switch .slider:before {
    position: absolute;
    content: '';
    height: 24px;
    width: 24px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

.toggle-switch input:checked + .slider {
    background-color: #66bb6a;
}

.toggle-switch input:checked + .slider:before {
    transform: translateX(30px);
}

.toggle-switch .slider::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
    opacity: 0;
}

.toggle-switch input:focus + .slider::after {
    opacity: 1;
}
